
             <nav class="publication-sections-nav_container">
                <ul class="publication-sections-nav_container_list">
                   <li class="publication-sections-nav_container_list_section-item" routerLinkActive="publication-sections-nav_container_list_section-item--active">
                     <a class="publication-sections-nav_container_list_section-item_link" routerLink = "menus">Menus</a>
                    </li>
                   <li class="publication-sections-nav_container_list_section-item" routerLinkActive="publication-sections-nav_container_list_section-item--active">
                     <a class="publication-sections-nav_container_list_section-item_link" routerLink = "plats">Plats</a>
                    </li>
                   <li class="publication-sections-nav_container_list_section-item" routerLinkActive="publication-sections-nav_container_list_section-item--active"><a class="publication-sections-nav_container_list_section-item_link" routerLink = "entrees" > Entrées</a></li>
                   <li class="publication-sections-nav_container_list_section-item"><a class="publication-sections-nav_container_list_section-item_link" href="#section-desserts" data-link="desserts">Desserts</a></li>
                   <li class="publication-sections-nav_container_list_section-item"><a class="publication-sections-nav_container_list_section-item_link" href="#section-boissons" data-link="boissons">Boissons</a></li>
                </ul>
             </nav>


<!-- <mat-toolbar color="primary">
  <span>
      <button mat-button color="" routerLink = "plats">Plats</button>
      <button mat-button color="" routerLink = "entrees">Entrees</button>
  </span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="refresh()">
      <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar> -->

